<div class="inner">
    <div class="left">
        <h3><a href="./index.html">meta vision</a></h3>
        <p class="copyright">
            Namu Drone Soft All Right Reserved 2022
        </p>
    </div>
    <ul class="nav">
        <!-- <li><a href="/depth03.html">menu03</a></li>
        <li><a href="/depth04.html">menu04</a></li>
        <li><a href="/depth05.html">menu05</a></li> -->
        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
        <li><a href="./profile.html">Profile</a></li>
    </ul>
</div>